<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <span class="h2 mb-0">Taste of Home</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recipe Categories
          </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/recipes/pasta">Pasta</a></li>
            <li><a class="dropdown-item" href="/recipes/beef">Beef</a></li>
            <li><a class="dropdown-item" href="/recipes/chicken">Chicken</a></li>
            <li><a class="dropdown-item" href="/recipes/seafood">Seafood</a></li>
            <li><a class="dropdown-item" href="/recipes/vegetarian">Vegetarian</a></li>
            <li><a class="dropdown-item" href="/recipes/vegan">Vegan</a></li>
            <li><a class="dropdown-item" href="/recipes/dessert">Dessert</a></li>
          </ul>
          </li>
      </ul>
     {# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
      {% if current_user.is_authenticated %}
          <li class="nav-item">
          <a class="btn btn-primary nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        {%else %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-primary nav-link" href="{{url_for('sign_in')}}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success nav-link" href="{{url_for('sign_up')}}">Sign Up</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </div>
</nav>