{% extends "base.jinja" %}
{% block content %}
<div id="results" class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
        <div class="card border-light h-100"> 
            {% if recipe.image_url %}
            <img src="{{ recipe.image_url }}" alt="Recipe Image" class="card-img-top">
            <div class="card-body text-bg-dark d-flex flex-column"> 
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.summary[:25] }}{% if recipe.summary|length > 50 %}...{% endif %}</p>
                <a href="{{ recipe.source_url }}" class="btn btn-primary mt-auto">Read Full Recipe</a> 
            </div>
            {% else %}
                <div class="card-body">
                    <p>No image available for this recipe.</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
